/* @define-color bar-bg rgba(31, 35, 40, 0.95); */
/**/
/* @define-color main-bg #101419; */
/* @define-color main-fg #93cee9; */
/**/
/* @define-color wb-act-bg #93cee9; */
/* @define-color wb-act-fg #1f2328; */
/**/
/* @define-color wb-hvr-bg #93cee9; */
/* @define-color wb-hvr-fg #1f2328; */

@define-color bar-bg rgba(0, 0, 0, 0.6);

@define-color main-bg #11111b;
@define-color main-fg #cdd6f4;

@define-color wb-act-bg #a6adc8;
@define-color wb-act-fg #313244;

@define-color wb-hvr-bg #f5c2e7;
@define-color wb-hvr-fg #313244;
* {
  border: none;
  border-radius: 0;
  /* font-family: "JetBrainsMono Nerd Font"; */
  font-family: "San Francisco";
  font-weight: bold;
  font-size: 11px;
  min-height: 0;
}

window#waybar {
  background: @bar-bg;
}

/* window#waybar.empty { */
/*   background: transparent; */
/* } */

window#waybar.empty #window {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 7px;
  border-width: 0px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  color: @main-fg;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  background: @wb-act-bg;
  color: @wb-act-fg;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-fg;
  padding-left: 3px;
  padding-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#custom-power-menu,
#custom-spotify,
#custom-media,
#custom-weather,
#custom-target,
#custom-gamma,
#memory,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
  color: @main-fg;
  /* background: @main-bg; */
  background: transparent;
  opacity: 1;
  margin: 2px 0px 2px 0px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
}

#temperature {
  border-radius: 10px;
}

#temperature.critical {
  /* color: #eba0ac; */
}

#backlight {
  border-radius: 10px;
}

#tray {
  border-radius: 10px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-power-menu {
  color: @bg-fg;
  font-size: 13px;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 7px;
  /* color: #f5a97f; */
  /* margin-left: 60px; */
}

#clock {
  /* color: #fab387; */
  border-radius: 7px;
  border-right: 0px;
}

#network {
  /* color: #f9e2af; */
  border-radius: 7px;
  border-left: 0px;
  border-right: 0px;
}

#bluetooth {
  /* color: #89b4fa; */
  border-radius: 10px;
}

#pulseaudio {
  /* color: #89b4fa; */
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  /* color: #cba6f7; */
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px;
}

#battery {
  color: white;
  border-radius: 10px;
}

#custom-weather {
  border-radius: 10px;
  border-right: 0px;
}
/* #memory { */
/* color: #a1c999; */
/* } */
