* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 11px;
  min-height: 0;
  /* background: #15161c; */
  background: transparent;
}

window#waybar {
  /* background: rgba(21, 18, 27, 0.1); */
  /* background: rgba(0, 0, 0, 0.8); */
  /* background: transparent; */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  /* border-top: 8px transparent; */
  border-radius: 8px;
  transition-duration: 0.5s;
  margin: 5px 5px;
}

tooltip {
  background: rgba(21, 18, 27, 0.5);
  /* background: #1e1e2e; */
  border-radius: 10px;
  /* border-width: 2px; */
  /* border-style: solid; */
  /* border-color: #11111b; */
}

#workspaces button {
  padding: 5px 6px;
  color: #313244;
  /* background: rgba(33, 35, 47, 0.3); */
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  /* color: #11111b; */
  /* background: #a6e3a1; */
  color: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  /* background: #11111b; */
  color: #cdd6f4;
  border-radius: 10px;
}

#custom-power-menu,
#custom-spotify,
#custom-media,
#custom-weather,
#memory,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
  /* background: #1e1e2e; */
  background: rgba(33, 35, 47, 1);
  opacity: 0.95;
  /* color: white; */
  color: #a6adc8;
  /* color: white; */
  padding: 0 5px;
  /* margin: 1px 0px; */
  border-radius: 7px;
  /* margin-top: 10px; */
  border: 1px solid #181825;
}

#temperature {
  border-radius: 10px;
}

#temperature.critical {
  /* color: #eba0ac; */
}

#backlight {
  border-radius: 10px;
}

#tray {
  border-radius: 10px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#workspaces {
  /* background: #1e1e2e; */
  /* background: rgba(33, 35, 47, 0.6); */
  border-radius: 7px;
  padding-right: 5px;
  padding-left: 5px;
}

#custom-power-menu {
  color: white;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 7px;
  /* color: #f5a97f; */
  /* margin-left: 60px; */
}

#clock {
  /* color: #fab387; */
  border-radius: 7px;
  border-right: 0px;
}

#network {
  /* color: #f9e2af; */
  border-radius: 7px;
  border-left: 0px;
  border-right: 0px;
}

#bluetooth {
  /* color: #89b4fa; */
  border-radius: 10px;
}

#pulseaudio {
  /* color: #89b4fa; */
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  /* color: #cba6f7; */
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px;
}

#battery {
  border-radius: 10px;
}

#custom-weather {
  border-radius: 10px;
  border-right: 0px;
}
/* #memory { */
/* color: #a1c999; */
/* } */
