layout {

    focus-ring {
        active-color   "#bcc5e9"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bcc5e9"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bcc5e9"
        inactive-color "#4f5877"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bcc5e980"
    }
}

recent-windows {
    highlight {
        active-color "#bcc5e9"
        urgent-color "#ffb4ab"
    }
}
